:root {
  --color-bg: #ffffff;
  --color-fg: #1C1C1C;
  --color-inactive: #1C1C1C66;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
